* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

.imgHome {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 256px;
}

nav {
    background-color: grey;
    padding: 20px;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: end;
}

nav ul li a.active {
    color: red;
}

.selectWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 20%;
}

.statWrapper {
    display: flex;
    justify-content: center;
    border: solid 1px gray;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 2%;
    padding: 20px;
    width: 30%;
}

.statWrapper img {
    width: 100%;
}

.statWrapper li {
    padding: 2px;
}